html,
body {
  margin                   : 0;
  padding                  : 0;
  width                    : 100%;
  height                   : 100%;
  font-size                : 100%;
  -webkit-text-size-adjust : 100%;
  -moz-text-size-adjust    : 100%;
  -ms-text-size-adjust     : 100%;
  overflow                 : auto;
}

body * {
  outline : none;
}

.configurable-application--loading {
  text-align : center;
  display    : block;
  height     : 100%;
  width      : 100%;
  overflow   : hidden;
  background : #fff url(../assets/loader-ie9.gif) no-repeat center center;
}

#main-container {
  margin         : 0;
  padding        : 0;
  height         : 100%;
  width          : 100%;
  display        : flex;
  flex-direction : row;
}

#view-container {
  flex-shrink : 1;
  flex-grow   : 1;
  margin      : 0;
  padding     : 0;
}

#feedback-container {
  flex-shrink    : 0;
  flex-grow      : 0;
  width          : 20%;
  display        : flex;
  flex-direction : column;
}

#feedback-list-container {
  flex-shrink    : 1;
  flex-grow      : 200;
  display        : flex;
  flex-direction : column;
}

#add-feedback-panel {
  flex-shrink : 1;
  flex-grow   : 1;
}

#feedback-list {
  flex-shrink : 1;
  flex-grow   : 1;
  overflow    : auto;
}

#feedback-list:empty {
  text-align : center;
  padding    : 2em 0;
  font-style : italic;
  color      : silver;
}

#feedback-list:empty:after {
  content : "Loading feedback...";
}

#feedback-list.no-data:empty:after {
  content : "No feedback available yet.";
}

.zoom-node {
  opacity    : 0.0;
  transition : opacity 0.5s linear;
}

.feedback-node:hover .zoom-node {
  opacity    : 1.0;
  transition : opacity 1s linear;
}

#user-thumb-node {
  height         : 36px;
  border-radius  : 18px;
  vertical-align : middle;
}

.top-nav-link:hover, .top-nav-link:focus {
  color               : #fff;
  border-bottom-color : #fff;
}

#map-side-drawer,
#map-side-drawer .drawer-nav {
  display        : flex;
  flex-direction : column;
}

#map-side-drawer .drawer-nav > :nth-child(1) {
  flex-shrink : 0;
  flex-grow   : 0;
}

#map-side-drawer .drawer-nav > :nth-child(2) {
  flex-shrink : 1;
  flex-grow   : 1;
  overflow-y  : scroll;
  overflow-x  : hidden;
}

#map-side-drawer .drawer-nav > :nth-child(3) {
  flex-shrink : 0;
  flex-grow   : 0;
}

.esri-layer-list__item-actions-menu-item:hover,
.esri-layer-list__item-actions-menu-item--active,
.esri-layer-list__item-actions-menu-item--active:hover {
  color            : #0079c1 !important;
  background-color : transparent !important;
}

.drawer-nav {
  width : 350px;
}

.view-loading-node {
  box-shadow : none !important;
}

.view-loading-node .loader-text {
  padding-top : 3em !important;
}

#notifications-node {
  position : sticky;
  left     : 5px;
  bottom   : 5px;
}

#notifications-node .alert {
  opacity : 0.9;
}

.side-nav-link:last-of-type {
  border-bottom : solid 1px #efefef;
}


